@using Hotel_AdminPanel.Components.Pages.DatePicker
@inherits OwningComponentBase<IReservationService>
@inject ICustomerService CustomerService
@inject IRoomService RoomService
@inject IReservationService ReservationService

<EditForm Model="reservation" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="modal fade @(IsVisible ? "show" : "")" tabindex="-1" style="display:@(IsVisible ? "block" : "none")">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Přidat Rezervaci</h5>
                    <button type="button" class="btn-close" aria-label="Zavřít" @onclick="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <label for="CustomerId" class="form-label">Zákazník</label>
                            <InputNumber id="CustomerId" class="form-control" @bind-Value="CustomerId" readonly />
                        </div>

                        <div class="form-group mb-3">
                            <label for="RoomId" class="form-label">Pokoj</label>
                            <select id="RoomId" class="form-control" @onchange="@(e => OnRoomSelected(e))">
                                <option value="">Vyber pokoj</option>
                                @foreach (var room in rooms)
                                {
                                <option value="@room.Id">@room.RoomNumber - @room.RoomType.Name</option>
                                }
                            </select>

                        </div>
                    </div>

                    <div class="mb-4 row">
                        <div class="col-md-6">
                            <label for="CheckIn" class="form-label">Check In</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Vyberte datum"
                                       value="@reservation.CheckIn.ToShortDateString()" />
                                <button type="button" class="btn btn-secondary" @onclick="OpenCheckInCalendar">
                                    <i class="bi bi-calendar-date"></i>
                                </button>
                            </div>
                            @if (isCheckInCalendarVisible)
                            {
                            <div class="calendar-container">
                                <CustomDatePicker DisableDates="unavailableDates" OnDateSelected="OnDateSelectIn" />
                            </div>
                            }
                        </div>

                        <div class="col-md-6">
                            <label for="CheckOut" class="form-label">Check Out</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Vyberte datum"
                                       value="@reservation.CheckOut.ToShortDateString()" readonly />
                                <button type="button" class="btn btn-secondary" @onclick="OpenCheckOutCalendar">
                                    <i class="bi bi-calendar-date"></i>
                                </button>
                            </div>
                            @if (isCheckOutCalendarVisible)
                            {
                            <div class="calendar-container">
                                <CustomDatePicker DisableDates="unavailableDates" OnDateSelected="OnDateSelectOut" />
                            </div>
                            }
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <label for="TotalPrice" class="form-label">Celková Cena</label>
                            <InputNumber id="TotalPrice" class="form-control" @bind-Value="reservation.TotalPrice" />
                        </div>

                        <div class="col-md-6">
                            <label for="ReservationStatusId" class="form-label">Status</label>
                            <InputSelect id="ReservationStatusId" class="form-control" @bind-Value="reservation.ReservationStatusId">
                                <option value="">Vyber status</option>
                                @foreach (var status in reservationStatuses)
                                {
                                    <option value="@status.Id">@status.Name</option>
                                }
                            </InputSelect>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-md-12">
                            <label for="SpecialRequest" class="form-label">Speciální Požadavky</label>
                            <InputTextArea id="SpecialRequest" class="form-control" @bind-Value="reservation.SpecialRequest" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="Close">Zavřít</button>
                    <button type="submit" class="btn btn-primary">Uložit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-backdrop fade @(IsVisible ? "show" : "")" style="display:@(IsVisible ? "block" : "none")"></div>
</EditForm>

@code {
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback<bool> OnClose { get; set; }
    [Parameter] public List<Room> rooms { get; set; }
    [Parameter] public List<ReservationStatus> reservationStatuses { get; set; }
    [Parameter] public int CustomerId { get; set; } // Nový parametr
    

    private bool isCheckInCalendarVisible = false;
    private bool isCheckOutCalendarVisible = false;
    private List<DateTime> unavailableDates = new List<DateTime>();
    private Room selectedRoom = new Room();
    
    private Reservation reservation = new Reservation();

    private async Task HandleValidSubmit()
    {
        reservation.CustomerId = CustomerId; // Nastavení ID zákazníka do rezervace
        await ReservationService.CreateReservationAsync(reservation);
        await OnClose.InvokeAsync(false);
    }
    
    private async void OnRoomSelected(ChangeEventArgs e)
    {
        isCheckInCalendarVisible = false;
        reservation.RoomId = int.Parse(e.Value.ToString());
        var selectedValue = e.Value?.ToString();

        if (string.IsNullOrWhiteSpace(selectedValue))
        { 
            reservation.Adults = 0;
            reservation.Children = 0;
            reservation.TotalPrice = 0;
            reservation.MealPlanId = 0;
            return;
        }
        var roomId = int.Parse(e.Value.ToString());
        selectedRoom = rooms.FirstOrDefault(room => room.Id == roomId);
        unavailableDates = await ReservationService.GetOccupiedDatesForRoomAsync(roomId);

    }
    
    private void OpenCheckInCalendar() => isCheckInCalendarVisible = !isCheckInCalendarVisible;
    private void OpenCheckOutCalendar() => isCheckOutCalendarVisible = !isCheckOutCalendarVisible;
    
    private void OnDateSelectIn(DateTime? date)
    {
        reservation.CheckIn = date.Value;
        isCheckInCalendarVisible = false;
    }
    
    private void OnDateSelectOut(DateTime? date)
    {
        reservation.CheckOut = date.Value;
        isCheckOutCalendarVisible = false;
    }



    private Task Close() => OnClose.InvokeAsync(false);
}
