@page "/muj-profil"
@inject IAccountService AccountService
@rendermode InteractiveServer

<div class="container mt-5">
    <div class="card border-0 shadow-sm mx-auto">
        <div class="card-body">
            <div class="text-center">
                <img src="@userProfileModel.ProfilePicture" alt="Profilový obrázek" class="rounded-circle profile-picture mb-3">
                <h3 class="mb-4 page-title">
                    Můj profil - @userProfileModel.FirstName @userProfileModel.LastName
                </h3>
            </div>


            <div class="container">
                @if (userProfileModel == null)
                {
                    <p>Načítání...</p>
                }
                else
                {
                    <EditForm Model="userProfileModel" OnValidSubmit="@HandleValidSubmit" FormName="EditUser">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="mb-3 row">
                            <div class="col-md-6">
                                <label for="firstName" class="form-label">Jméno</label>
                                <InputText id="firstName" class="form-control" @bind-Value="userProfileModel.FirstName" />
                            </div>

                            <div class="col-md-6">
                                <label for="lastName" class="form-label">Příjmení</label>
                                <InputText id="lastName" class="form-control" @bind-Value="userProfileModel.LastName" />
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <div class="col-md-6">
                                <label for="Email" class="form-label">Email</label>
                                <InputText id="Email" class="form-control" @bind-Value="userProfileModel.Email" />
                            </div>

                            <div class="col-md-6">
                                <label for="phoneNumber" class="form-label">Telefon</label>
                                <InputText id="phoneNumber" class="form-control" @bind-Value="userProfileModel.PhoneNumber" />
                            </div>

                        </div>

                        <div class="mb-3 row">
                            <div class="col-md-6">
                                <label for="placeOfBirth" class="form-label">Místo narození</label>
                                <InputText id="placeOfBirth" class="form-control" @bind-Value="userProfileModel.PlaceOfBirth" />
                            </div>
                            <div class="col-md-6">
                                <label for="address" class="form-label">Adresa</label>
                                <InputText id="address" class="form-control" @bind-Value="userProfileModel.Address" />
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <div class="col-md-4">
                                <label for="city" class="form-label">Město</label>
                                <InputText id="city" class="form-control" @bind-Value="userProfileModel.City" />
                            </div>

                            <div class="col-md-4">
                                <label for="postalCode" class="form-label">PSČ</label>
                                <InputText id="postalCode" class="form-control" @bind-Value="userProfileModel.PostalCode" />
                            </div>
                            <div class="col-md-4">
                                <label for="country" class="form-label">Země</label>
                                <InputText id="country" class="form-control" @bind-Value="userProfileModel.Country" />
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-primary">Aktualizovat profil</button>
                        </div>



                        @if (updateResult != null)
                        {
                            <div class="alert @(updateResult.Succeeded ? "alert-success" : "alert-danger") mt-3">
                                @(updateResult.Succeeded ? "Profil byl úspěšně aktualizován!" : "Chyba při aktualizaci profilu.")
                            </div>
                        }
                    </EditForm>




                }
            </div>
        </div>
    </div>
</div>

<style>
    .profile-picture {
        width: 150px; /* Nastavte požadovanou šířku */
        height: 150px; /* Nastavte požadovanou výšku */
        object-fit: cover; /* Zajistí správné oříznutí obrázku */
    }

</style>

@code {
    [SupplyParameterFromForm]
    private AppUser userProfileModel { get; set; } = new AppUser();
    private IdentityResult updateResult;



    protected override async Task OnInitializedAsync()
    {
        userProfileModel = await AccountService.GetCurrentUserAsync();

    }

    private async Task HandleValidSubmit()
    {
        // Získání výsledku aktualizace a přiřazení do updateResult
        updateResult = await AccountService.UpdateUserProfileAsync(userProfileModel);
    }



}
