@page "/customers"
@inject ICustomerService CustomerService
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<div class="container mt-5">
    <h3 class="text-center mb-4 page-title">Zákazníci</h3>
    <div class="d-flex justify-content-between mb-3">
        <div></div> <!-- Placeholder for alignment -->
        <button class="btn btn-primary" @onclick="NavigateToAddCustomer">Přidat Zákazníka</button>
    </div>


    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Vyhledat..."
               @bind="searchTerm" @oninput="SearchCustomers" aria-label="Search customers..." aria-describedby="button-search">
    </div>


    @if (customers == null)
    {
        <div class="text-center">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only"></span>
            </div>
            <p class="mt-2">Loading customers...</p>
        </div>
    }
    else
    {
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Jméno</th>
                        <th>Přijmení</th>
                        <th>Email</th>
                        <th>Telefon</th>
                        <th>Adresa</th>
                        <th>Město</th>
                        <th>Země</th>
                        <th>PSČ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var customer in filteredCustomers)
                    {
                        <tr @onclick="() => NavigateToCustomerDetail(customer.Id)" style="cursor:pointer;">
                            <td>@customer.FirstName</td>
                            <td>@customer.LastName</td>
                            <td>@customer.Email</td>
                            <td>@customer.Phone</td>
                            <td>@customer.Address</td>
                            <td>@customer.City</td>
                            <td>@customer.Country</td>
                            <td>@customer.PostalCode</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

@code {
    private List<Customer> customers;

    private string searchTerm;
    private List<Customer> filteredCustomers;



    protected override async Task OnInitializedAsync()
    {
        customers = await CustomerService.GetCustomersAsync();
        filteredCustomers = customers;
    }

    private void SearchCustomers(ChangeEventArgs e)
    {
        searchTerm = e.Value.ToString();
        if (!string.IsNullOrWhiteSpace(searchTerm))
        {
            filteredCustomers = customers
                .Where(c => c.FirstName.Contains(searchTerm, StringComparison.OrdinalIgnoreCase) ||
                            c.LastName.Contains(searchTerm, StringComparison.OrdinalIgnoreCase) ||
                            c.Email.Contains(searchTerm, StringComparison.OrdinalIgnoreCase) ||
                            c.Phone.Contains(searchTerm, StringComparison.OrdinalIgnoreCase))
                .ToList();
        }
        else
        {
            filteredCustomers = customers;
        }
    }

    private void NavigateToCustomerDetail(int id)
    {
        NavigationManager.NavigateTo($"/customer/{id}");
    }

    private void NavigateToAddCustomer()
    {
        NavigationManager.NavigateTo("/customer/add");
    }


}
