@page "/"
@inject NavigationManager Navigation
@inject IRoomService RoomService
@inject ICustomerService CustomerService
@inject IReservationService ReservationService
@rendermode InteractiveServer

<PageTitle>Dashboard - Hotel Management</PageTitle>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="card border-0 shadow-sm mx-auto">
                <div class="card-body">
                    <p>
                        <i class="bi bi-people-fill"></i>
                        Počet zákazníků
                    </p>
                    <h3>@TotalCustomers</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card border-0 shadow-sm mx-auto">
                <div class="card-body">
                    <p>
                        <i class="bi bi-calendar-check"></i>
                        Počet rezervací
                    </p>
                    <h3>@TotalReservations</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card border-0 shadow-sm mx-auto">
                <div class="card-body">
                    <p>
                        <i class="bi bi-house-door"></i>
                        Počet pokojů
                    </p>
                    <h3>@TotalRooms</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card border-0 shadow-sm mx-auto">
                <div class="card-body">
                    <p>
                        <i class="bi bi-percent"></i>
                        Vytíženost hotelu
                    </p>
                    <h3>@HotelOccupancy.ToString("0.00") %</h3>
                </div>
            </div>
        </div>

    </div>

    <div class="row mt-5">
        <div class="col-lg-8">
            <div class="card border-0 shadow-sm mx-auto">
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-0 shadow-sm mx-auto">
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-12">
            <div class="card border-0 shadow-sm mx-auto">
                <div class="card-body">
                    <h3 class="text-center mb-4 page-title">Rezervace</h3>
                    <div class="table-responsive">
                        <table class="w-100">
                            <QuickGrid Items="reservations.AsQueryable()" Pagination="paginationState" Class=" w-100">
                                <PropertyColumn Title="Zákazník" Property="@(x => x.Customer.FirstName + " " + x.Customer.LastName)" Sortable="true" />
                                <PropertyColumn Title="CheckIn" Property="@(x => x.CheckIn.ToShortDateString())" Sortable="true" />
                                <PropertyColumn Title="CheckOut" Property="@(x => x.CheckOut.ToShortDateString())" Sortable="true" />
                                <PropertyColumn Title="Pokoj" Property="@(x => x.Room.RoomNumber)" Sortable="true" />
                                <PropertyColumn Title="Cena" Property="@(x => x.TotalPrice)" Sortable="true" />
                                <PropertyColumn Title="Dospělí" Property="@(x => x.Adults)" Sortable="true" />
                                <PropertyColumn Title="Děti" Property="@(x => x.Children)" Sortable="true" />
                                <PropertyColumn Title="Stravování" Property="@(x => x.MealPlan.Name)" Sortable="true" />
                            </QuickGrid>
                            <Paginator State="paginationState" />
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
@code {
    private int TotalReservations;
    private int TotalCustomers;
    private int TotalRooms;
    private double HotelOccupancy;
    private int occupiedRooms;
    private List<Reservation> reservationsLastMonth = new List<Reservation>();
    private List<Reservation> upcomingReservations = new List<Reservation>();
    private List<Reservation> reservations = new List<Reservation>();
    private PaginationState paginationState = new PaginationState() { ItemsPerPage = 5 };
    private List<Room> maintenanceRooms = new List<Room>();
    private decimal TotalRevenue;





    protected override async Task OnInitializedAsync()
    {

        TotalCustomers = (await CustomerService.GetCustomersAsync()).Count;
        TotalReservations = (await ReservationService.GetReservationsAsync()).Count;
        TotalRooms = (await RoomService.GetRooomsAsync()).Count;

        reservations = await ReservationService.GetReservationsAsync();



        occupiedRooms = (await RoomService.GetRooomsAsync()).Where(r => r.RoomStatus.Name == "Obsazeno").Count();
        reservationsLastMonth = (await ReservationService.GetReservationsAsync()).Where(r => r.CheckIn.Month == DateTime.Now.AddMonths(-1).Month).ToList();

        TotalRevenue = reservationsLastMonth.Sum(r => r.TotalPrice);

        upcomingReservations = (await ReservationService.GetReservationsAsync()).Where(r => r.CheckIn.Date == DateTime.Today || r.CheckOut.Date == DateTime.Today).ToList();

        // Vytíženost hotelu
        HotelOccupancy = ((double)occupiedRooms / TotalRooms) * 100;


    }
}
