@page "/zakaznik/{Id:int}"
@inject ICustomerService CustomerService
@inject NavigationManager NavigationManager
@inject IReservationService ReservationService
@attribute [Authorize]

@rendermode InteractiveServer


<div class="container mt-2">
    @if (customer == null)
    {
        <div class="text-center">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only"></span>
            </div>
            <p class="mt-2">Načítám podrobnosti o zákazníkovi...</p>
        </div>
    }
    else
    {
        <div class="card border-0 shadow-sm mx-auto" style="max-width: 800px;">
            <div class="card-body">
                <h3 class="card-title text-center mb-4 page-title">Upravit Zákazníka</h3>

                <EditForm Model="customer" OnValidSubmit="HandleValidSubmit" FormName="EditCustomer">

                    <div class="mb-3">
                        <label for="customerId" class="form-label">Číslo Zákazníka</label>
                        <InputNumber id="customerId" class="form-control" @bind-Value="customer.Id" disabled />
                    </div>

                    <div class="mb-3">
                        <label for="firstName" class="form-label">Jméno</label>
                        <InputText id="firstName" class="form-control" @bind-Value="customer.FirstName" />
                    </div>

                    <div class="mb-3">
                        <label for="lastName" class="form-label">Příjmení</label>
                        <InputText id="lastName" class="form-control" @bind-Value="customer.LastName" />
                    </div>

                    <div class="mb-3">
                         <label for="documentNumber" class="form-label">Číslo Dokladu</label>
                         <InputText id="documentNumber" class="form-control" @bind-Value="customer.DocumentNumber" />
                    </div>

                    <div class="mb-3">
                        <label for="placeOfBirth" class="form-label">Místo Narození</label>
                        <InputText id="placeOfBirth" class="form-control" @bind-Value="customer.PlaceOfBirth" />
                    </div>

                    <div class="mb-3">
                        <label for="dateOfBirth" class="form-label">Datum Narození</label>
                        <InputDate id="dateOfBirth" class="form-control" @bind-Value="customer.DateOfBirth" />
                    </div>


                    <div class="mb-3">
                        <label for="dateOfIssue" class="form-label">Datum Vydání (dokladu)</label>
                        <InputDate id="dateOfIssue" class="form-control" @bind-Value="customer.DateOfIssue" />
                    </div>

                    <div class="mb-3">
                        <label for="dateOfExpiry" class="form-label">Datum Expirace (dokladu)</label>
                        <InputDate id="dateOfExpiry" class="form-control" @bind-Value="customer.DateOfExpiry" />
                    </div>

                    <div class="mb-3">
                        <label for="personalIdentificationNumber" class="form-label">Rodné Číslo</label>
                        <InputText id="personalIdentificationNumber" class="form-control" @bind-Value="customer.PersonalIdentificationNumber" />
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <InputText id="email" type="email" class="form-control" @bind-Value="customer.Email" />
                    </div>

                    <div class="mb-3">
                        <label for="phone" class="form-label">Telefon</label>
                        <InputText id="phone" class="form-control" @bind-Value="customer.Phone" />
                    </div>

                    <div class="mb-3">
                        <label for="address" class="form-label">Adresa</label>
                        <InputText id="address" class="form-control" @bind-Value="customer.Address" />
                    </div>

                    <div class="mb-3">
                        <label for="city" class="form-label">Město</label>
                        <InputText id="city" class="form-control" @bind-Value="customer.City" />
                    </div>

                    <div class="mb-3">
                        <label for="country" class="form-label">Země</label>
                        <InputText id="country" class="form-control" @bind-Value="customer.Country" />
                    </div>

                    <div class="mb-3">
                        <label for="postalCode" class="form-label">PSČ</label>
                        <InputText id="postalCode" class="form-control" @bind-Value="customer.PostalCode" />
                    </div>

                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary">Uložit</button>
                        <a href="/zakaznici" class="btn btn-outline-secondary">Zpět na seznam</a>
                        <button type="button" class="btn btn-danger" @onclick="HandleRemoveCustomer">Odstranit</button>
                    </div>
                </EditForm>
            </div>
        </div>


         <div class="card border-0 shadow-sm mx-auto" style="max-width: 800px;">
            <div class="card-body">

                <h3 class="card-title">Rezervace</h3>

                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Číslo Rezervace</th>
                                <th scope="col">Datum Od</th>
                                <th scope="col">Datum Do</th>
                                <th scope="col">Pokoj</th>
                                <th scope="col">Cena</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var reservation in customerReservations)
                            {
                                <tr @onclick="() => NavigateToReservationDetail(reservation.Id)" style="cursor:pointer;">
                                    <td>@reservation.Id</td>
                                    <td>@reservation.CheckIn.ToShortDateString()</td>
                                    <td>@reservation.CheckOut.ToShortDateString()</td>
                                    <td>@reservation.Room.RoomNumber</td>
                                    <td>@reservation.TotalPrice.ToString("C")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                  </div>
            </div>
         </div>
    }
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    private Customer customer { get; set; } = new Customer();

    private List<Reservation> customerReservations = new List<Reservation>();

    protected override async Task OnInitializedAsync()
    {
        customer = await CustomerService.GetCustomerByIdAsync(Id);

        if (customer != null)
        {
            customerReservations = await ReservationService.GetReservationsByCustomerIdAsync(Id);
        }
    }

    private void NavigateToReservationDetail(int id)
    {
        NavigationManager.NavigateTo($"/rezervace/{id}");
    }

    private async Task HandleValidSubmit()
    {
        await CustomerService.UpdateCustomerAsync(customer);
        NavigationManager.NavigateTo("/zakaznici");
    }

    private async Task HandleRemoveCustomer()
    {
        await CustomerService.DeleteCustomerAsync(Id);
        NavigationManager.NavigateTo("/zakaznici");
    }
}
