@page "/zakaznik/{Id:int}"
@using Hotel_AdminPanel.Components.Pages.Reservations
@inject ICustomerService CustomerService
@inject IInvoiceService InvoiceService
@inject NavigationManager NavigationManager
@inject IRoomService RoomService
@inject IReservationService ReservationService
@inject IReviewService ReviewService
@rendermode InteractiveServer


<div class="container mt-2">
    @if (customer == null)
    {
        <div class="text-center">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only"></span>
            </div>
            <p class="mt-2">Načítám podrobnosti o zákazníkovi...</p>
        </div>
    }
    else
    {
        <div class="row">
                <div class="card border-0 shadow-sm mx-auto">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4 page-title">Upravit Zákazníka</h3>
                        <EditForm Model="customer" OnValidSubmit="HandleValidSubmit" FormName="EditCustomer">
                            <div class="mb-3">
                                <label for="firstName" class="form-label">Jméno</label>
                                <InputText id="firstName" class="form-control" @bind-Value="customer.FirstName" />
                            </div>
                            <div class="mb-3">
                                <label for="lastName" class="form-label">Příjmení</label>
                                <InputText id="lastName" class="form-control" @bind-Value="customer.LastName" />
                            </div>
                            <div class="mb-3">
                                <label for="documentNumber" class="form-label">Číslo Dokladu</label>
                                <InputText id="documentNumber" class="form-control" @bind-Value="customer.DocumentNumber" />
                            </div>
                            <div class="mb-3">
                                <label for="placeOfBirth" class="form-label">Místo Narození</label>
                                <InputText id="placeOfBirth" class="form-control" @bind-Value="customer.PlaceOfBirth" />
                            </div>
                            <div class="mb-3">
                                <label for="dateOfBirth" class="form-label">Datum Narození</label>
                                <InputDate id="dateOfBirth" class="form-control" @bind-Value="customer.DateOfBirth" />
                            </div>
                            <div class="mb-3">
                                <label for="dateOfIssue" class="form-label">Datum Vydání (dokladu)</label>
                                <InputDate id="dateOfIssue" class="form-control" @bind-Value="customer.DateOfIssue" />
                            </div>
                            <div class="mb-3">
                                <label for="dateOfExpiry" class="form-label">Datum Expirace (dokladu)</label>
                                <InputDate id="dateOfExpiry" class="form-control" @bind-Value="customer.DateOfExpiry" />
                            </div>
                            <div class="mb-3">
                                <label for="personalIdentificationNumber" class="form-label">Rodné Číslo</label>
                                <InputText id="personalIdentificationNumber" class="form-control" @bind-Value="customer.PersonalIdentificationNumber" />
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <InputText id="email" type="email" class="form-control" @bind-Value="customer.Email" />
                            </div>
                            <div class="mb-3">
                                <label for="phone" class="form-label">Telefon</label>
                                <InputText id="phone" class="form-control" @bind-Value="customer.Phone" />
                            </div>
                            <div class="mb-3">
                                <label for="address" class="form-label">Adresa</label>
                                <InputText id="address" class="form-control" @bind-Value="customer.Address" />
                            </div>
                            <div class="mb-3">
                                <label for="city" class="form-label">Město</label>
                                <InputText id="city" class="form-control" @bind-Value="customer.City" />
                            </div>
                            <div class="mb-3">
                                <label for="country" class="form-label">Země</label>
                                <InputText id="country" class="form-control" @bind-Value="customer.Country" />
                            </div>
                            <div class="mb-3">
                                <label for="postalCode" class="form-label">PSČ</label>
                                <InputText id="postalCode" class="form-control" @bind-Value="customer.PostalCode" />
                            </div>
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-primary">Uložit</button>
                                <a href="/zakaznici" class="btn btn-outline-secondary">Zpět na seznam</a>
                                <button type="button" class="btn btn-danger" @onclick="HandleRemoveCustomer">Odstranit</button>
                            </div>
                        </EditForm>
                    </div>
            </div>

                <div class="card border-0 shadow-sm mx-auto mt-5">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h3 class="card-title mb-0">
                                Rezervace
                            </h3>
                            <button class="btn btn-primary" @onclick="OpenAddModalReservation">
                                <i class="bi bi-plus"></i> Přidat rezervaci
                            </button>
                        </div>
                        <div class="table-container">
                            <table class="w-100">
                                <QuickGrid Items="customerReservations.AsQueryable()" Pagination="customerReservationsPaggination" Class="w-100">
                                    <PropertyColumn Title="Číslo Rezervace" Property="@(r => r.Id)" Sortable="true" />
                                    <PropertyColumn Title="Check In" Property="@(r => r.CheckIn.ToShortDateString())" Sortable="true" />
                                    <PropertyColumn Title="Check Out" Property="@(r => r.CheckOut.ToShortDateString())" Sortable="true" />
                                    <PropertyColumn Title="Pokoj" Property="@(r => r.Room.RoomNumber)" Sortable="true" />
                                    <PropertyColumn Title="Cena" Property="@(r => r.TotalPrice.ToString("C"))" Sortable="true" />
                                </QuickGrid>

                                <Paginator State="customerReservationsPaggination" />
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card border-0 shadow-sm mx-auto mt-5">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h3 class="card-title mb-0">
                                Hodnocení
                            </h3>
                            <button class="btn btn-primary" @onclick="OpenAddReviewModal">
                                <i class="bi bi-plus"></i> Přidat hodnocení
                            </button>
                        </div>                        
                        <div class="table-container">
                            <table class="w-100">
                                <QuickGrid Items="customerReviews.AsQueryable()" Pagination="customerReviewPaggination" Class="w-100">
                                    <TemplateColumn Title="Hodnocení">
                                        @{
                                            int rating = context.Rating; // Získání hodnocení z aktuálního kontextu
                                            string stars = ""; // Inicializace proměnné pro hvězdičky
                                        }

                                        @switch (rating)
                                        {
                                            case 1:
                                                stars = "&#9733;&#9734;&#9734;&#9734;&#9734;"; // 1 plná hvězdička, 4 prázdné
                                                break;
                                            case 2:
                                                stars = "&#9733;&#9733;&#9734;&#9734;&#9734;"; // 2 plné hvězdičky, 3 prázdné
                                                break;
                                            case 3:
                                                stars = "&#9733;&#9733;&#9733;&#9734;&#9734;"; // 3 plné hvězdičky, 2 prázdné
                                                break;
                                            case 4:
                                                stars = "&#9733;&#9733;&#9733;&#9733;&#9734;"; // 4 plné hvězdičky, 1 prázdná
                                                break;
                                            case 5:
                                                stars = "&#9733;&#9733;&#9733;&#9733;&#9733;"; // 5 plných hvězdiček
                                                break;
                                            default:
                                                stars = "&#9734;&#9734;&#9734;&#9734;&#9734;"; // Pokud je rating mimo rozsah, zobrazí se 5 prázdných hvězdiček
                                                break;
                                        }

                                        @* Zobrazíme hvězdičky *@
                                        <span>@(new MarkupString(stars))</span>

                                    </TemplateColumn>
                                    <PropertyColumn Title="Komentář" Property="@(r => r.Comment)" Sortable="true" />
                                    <PropertyColumn Title="Datum" Property="@(r => r.CreatedAt.ToShortDateString())" Sortable="true" />
                                    <TemplateColumn Title="Akce">
                                        <div class="d-inline-flex">
                                            <button class="btn text-danger" @onclick="() => OpenDeleteReviewConfirmation(context.Id)">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                            <button class="btn text-primary" @onclick="() => OpenEditReviewModal(context.Id)">
                                                <i class="bi bi-pencil"></i>
                                            </button>
                                        </div>
                                    </TemplateColumn>

                               </QuickGrid>

                               <Paginator State="customerReviewPaggination" />
                            </table>
                        </div>
                    </div>
                </div>

                
            </div>
    }
</div>

<ReservationAddModal IsVisible="IsAddModalVisible" OnClose="CloseAddModal" CustomerId="Id" reservationStatuses="reservationStatuses" rooms="rooms"/>
<ReviewEditModal IsVisible="IsEditReviewModalVisible" OnClose="CloseEditReviewModal" ReviewId="reviewIdToEdit" Rooms="rooms" IsModalFromRoomDetail="false" />
<ReviewAddModal IsVisible="IsAddReviewModalVisible" OnClose="CloseAddReviewModal" CustomerId="Id" Rooms="rooms" IsModalFromRoomDetail="false" />
<DeleteModal Title="Smazání hodnocení" ActionType="DeleteReview" IsVisible="@isDeleteModalVisible" OnClose="HandleModalClose" />


@code {
    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    private Customer customer { get; set; } = new Customer();

    private List<Reservation> customerReservations = new List<Reservation>();
    private PaginationState customerReservationsPaggination = new PaginationState { ItemsPerPage = 5 };

    private List<Review> customerReviews = new List<Review>();
    private PaginationState customerReviewPaggination = new PaginationState { ItemsPerPage = 5 };



    private bool IsAddModalVisible = false;
    private List<Room> rooms = new List<Room>();
    private List<ReservationStatus> reservationStatuses = new List<ReservationStatus>();

    private bool IsAddReviewModalVisible = false;
    private bool isDeleteModalVisible = false;
    private int reviewIdToDelete;

    private bool IsEditReviewModalVisible = false;
    private int reviewIdToEdit;

    private void OpenEditReviewModal(int id)
    {
        reviewIdToEdit = id;
        IsEditReviewModalVisible = true;
    }

    private void CloseEditReviewModal()
    {
        IsEditReviewModalVisible = false;
    }

    protected override async Task OnInitializedAsync()
    {
        customer = await CustomerService.GetCustomerByIdAsync(Id);
        if (customer != null)
        {
            customerReservations = await ReservationService.GetReservationsByCustomerIdAsync(Id);
            customerReviews = await ReviewService.GetReviewsByCustomerIdAsync(Id);
        }

        rooms = await RoomService.GetRooomsAsync();
        reservationStatuses = await ReservationService.GetReservationStatusesAsync();


    }

    private void OpenDeleteReviewConfirmation(int id)
    {
        reviewIdToDelete = id;
        isDeleteModalVisible = true;
    }

    private async Task HandleModalClose(bool result)
    {
        var review = customerReviews.FirstOrDefault(r => r.Id == reviewIdToDelete);
        isDeleteModalVisible = false;

        if (result)
        {
            await ReviewService.DeleteReviewAsync(reviewIdToDelete);
            customerReviews.Remove(review);
        }
    }

    private void OpenAddModalReservation()
    {
        IsAddModalVisible = true;
    }

    private async Task CloseAddModal()
    {
        IsAddModalVisible = false;
    }

    private void OpenAddReviewModal()
    {
        IsAddReviewModalVisible = true;
    }

    private async Task CloseAddReviewModal()
    {
        IsAddReviewModalVisible = false;
    }

    private void NavigateToReservationDetail(int id)
    {
        NavigationManager.NavigateTo($"/rezervace/{id}");
    }

    private async Task HandleValidSubmit()
    {
        await CustomerService.UpdateCustomerAsync(customer);
        NavigationManager.NavigateTo("/zakaznici");
    }

    private async Task HandleRemoveCustomer()
    {
        await CustomerService.DeleteCustomerAsync(Id);
        NavigationManager.NavigateTo("/zakaznici");
    }

    private void NavigateToInvoiceDetail(int id)
    {
        NavigationManager.NavigateTo($"/faktura/{id}");
    }
}
