@page "/admin-nastaveni"
@inject IReservationService ReservationService
@inject IRoomService RoomService
@inject IAccountService AccountService
@inject IJSRuntime JSRuntime

@rendermode @(new InteractiveServerRenderMode(prerender: false))


<h3 class="text-center mb-4 page-title">Admin Nastavení</h3>

<div class="container mt-5">
    <div class="row">
        <div class="col-xl-6 d-flex flex-fill mt-5">
            <div class="card border-0 shadow-sm mx-auto flex-fill">
                <div class="d-flex justify-content-end mb-3">
                    <button class="btn btn-primary" @onclick="OpenAddMealPlanModal">
                        <i class="bi bi-plus"></i> Přidat plán stravování
                    </button>
                </div>
                <div class="card-body">
                    <h3 class="text-center mb-4 page-title">Nastavení jídel</h3>
                    <div class="table-responsive">
                        <QuickGrid Items="MealPlans.AsQueryable()" Pagination="paginationState" Class="w-100">
                            <PropertyColumn Title="Id" Property="@(x => x.Id)" Sortable="true" />
                            <TemplateColumn Title="Plán">
                                @if (editMealPlanId == context.Id)
                                {
                                    <input @bind="context.Name" class="form-control" />
                                }
                                else
                                {
                                    @context.Name
                                }
                            </TemplateColumn>
                            <TemplateColumn Title="Cena">
                                @if (editMealPlanId == context.Id)
                                {
                                    <input @bind="context.Price" class="form-control" />
                                }
                                else
                                {
                                    @context.Price
                                }
                            </TemplateColumn>
                            <TemplateColumn Title="Akce">
                                <div class="d-inline-flex">
                                    @if (editMealPlanId == context.Id)
                                    {
                                        <button class="btn btn-success" @onclick="() => SaveMealPlan(context)">
                                            <i class="bi bi-check"></i>
                                        </button>
                                        <button class="btn btn-danger" @onclick="CancelEdit">
                                            <i class="bi bi-x"></i>
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="btn text-primary" @onclick="() => EditMealPlan(context.Id)">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                        <button class="btn text-danger" @onclick="() => OpenDeleteMealPlanConfirmation(context.Id)">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    }
                                </div>
                            </TemplateColumn>
                        </QuickGrid>
                        <Paginator State="paginationState" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 d-flex flex-fill mt-5">
            <div class="card border-0 shadow-sm mx-auto flex-fill">
                <div class="d-flex justify-content-end mb-3">
                    <button class="btn btn-primary" @onclick="OpenAddReservationStatusModal">
                        <i class="bi bi-plus"></i> Přidat status rezervace
                    </button>
                </div>
                <div class="card-body">
                    <h3 class="text-center mb-4 page-title">Nastavení statusů rezervace</h3>
                    <div class="table-responsive">
                        <QuickGrid Items="ReservationStatuses.AsQueryable()" Pagination="paginationReservationStatusState" Class="w-100">
                            <PropertyColumn Title="Id" Property="@(x => x.Id)" Sortable="true" />
                            <TemplateColumn Title="Status">
                                @if (editReservationStatusId == context.Id)
                                {
                                    <input @bind="context.Name" class="form-control" />
                                }
                                else
                                {
                                    @context.Name
                                }
                            </TemplateColumn>
                            <TemplateColumn Title="Akce">
                                <div class="d-inline-flex">
                                    @if (editReservationStatusId == context.Id)
                                    {
                                        <button class="btn btn-success" @onclick="() => SaveRStatus(context)">
                                            <i class="bi bi-check"></i>
                                        </button>
                                        <button class="btn btn-danger" @onclick="CancelEdit">
                                            <i class="bi bi-x"></i>
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="btn text-primary" @onclick="() => EditReservationStatus(context.Id)">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                        <button class="btn text-danger" @onclick="() => OpenDeleteReservationStatusConfirmation(context.Id)">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    }
                                </div>
                            </TemplateColumn>
                        </QuickGrid>
                        <Paginator State="paginationReservationStatusState" />
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-xl-6 d-flex flex-fill mt-5">
            <div class="card border-0 shadow-sm mx-auto flex-fill">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3 class="card-title mb-0">
                            Typy pokojů
                        </h3>
                        <button class="btn btn-primary" @onclick="OpenAddRoomTypeModal">
                            <i class="bi bi-plus"></i> Přidat typ pokoje
                        </button>
                    </div>
                    <div class="table-responsive">
                        <QuickGrid Items="RoomTypes.AsQueryable()" Pagination="paginationRoomTypeState" Class="w-100">
                            <PropertyColumn Title="Id" Property="@(x => x.Id)" Sortable="true" />
                            <TemplateColumn Title="Typ pokoje">
                                @if (editRoomTypeId == context.Id)
                                {
                                    <input @bind="context.Name" class="form-control" />
                                }
                                else
                                {
                                    @context.Name
                                }
                            </TemplateColumn>
                            <TemplateColumn Title="Akce">
                                <div class="d-inline-flex">
                                    @if (editRoomTypeId == context.Id)
                                    {
                                        <button class="btn btn-success" @onclick="() => SaveRoomType(context)">
                                            <i class="bi bi-check"></i>
                                        </button>
                                        <button class="btn btn-danger" @onclick="CancelEdit">
                                            <i class="bi bi-x"></i>
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="btn text-primary" @onclick="() => EditRoomType(context.Id)">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                        <button class="btn text-danger" @onclick="() => OpenDeleteRoomTypeConfirmation(context.Id)">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    }
                                </div>
                            </TemplateColumn>
                        </QuickGrid>
                        <Paginator State="paginationRoomTypeState" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 d-flex flex-fill mt-5">
            <div class="card border-0 shadow-sm mx-auto flex-fill">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3 class="card-title mb-0">
                            Statusy pokoje
                        </h3>
                        <button class="btn btn-primary" @onclick="OpenAddRoomStatusModal">
                            <i class="bi bi-plus"></i> Přidat status pokoje
                        </button>
                    </div>                    <div class="table-responsive">
                        <QuickGrid Items="RoomStatuses.AsQueryable()" Pagination="paginationRoomStatusState" Class="w-100">
                            <PropertyColumn Title="Id" Property="@(x => x.Id)" Sortable="true" />
                            <TemplateColumn Title="Status">
                                @if (editRoomStatusId == context.Id)
                                {
                                    <input @bind="context.Name" class="form-control" />
                                }
                                else
                                {
                                    @context.Name
                                }
                            </TemplateColumn>
                            <TemplateColumn Title="Akce">
                                <div class="d-inline-flex">
                                    @if (editRoomStatusId == context.Id)
                                    {
                                        <button class="btn btn-success" @onclick="() => SaveRoomStatus(context)">
                                            <i class="bi bi-check"></i>
                                        </button>
                                        <button class="btn btn-danger" @onclick="CancelEdit">
                                            <i class="bi bi-x"></i>
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="btn text-primary" @onclick="() => EditRoomStatus(context.Id)">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                        <button class="btn text-danger" @onclick="() => OpenDeleteRoomStatusConfirmation(context.Id)">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    }
                                </div>
                            </TemplateColumn>
                        </QuickGrid>
                        <Paginator State="paginationRoomStatusState" />
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xl-6 d-flex flex-fill mt-5">
            <div class="card border-0 shadow-sm mx-auto flex-fill">
                <div class="d-flex justify-content-end mb-3">
                    <button class="btn btn-primary" @onclick="OpenAddRoleModal">
                        <i class="bi bi-plus"></i> Přidat roli
                    </button>
                </div>
                <div class="card-body">
                    <h3 class="text-center mb-4 page-title">Nastavení rolí</h3>
                    <div class="table-responsive">
                        <QuickGrid Items="Roles.AsQueryable()" Pagination="paginationRoleTypeState" Class="w-100">
                            <TemplateColumn Title="Role">
                                @if (editRoleId == context.Id)
                                {
                                    <input @bind="context.Name" class="form-control" />
                                }
                                else
                                {
                                    @context.Name
                                }
                            </TemplateColumn>
                            <TemplateColumn Title="Akce">
                                <div class="d-inline-flex">
                                    @if (editRoleId == context.Id)
                                    {
                                        <button class="btn btn-success" @onclick="() => SaveRole(context)">
                                            <i class="bi bi-check"></i>
                                        </button>
                                        <button class="btn btn-danger" @onclick="CancelEdit">
                                            <i class="bi bi-x"></i>
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="btn text-primary" @onclick="() => EditRole(context.Id)">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                        <button class="btn text-danger" @onclick="() => OpenDeleteRoleConfirmation(context.Id)">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    }
                                </div>
                            </TemplateColumn>
                        </QuickGrid>
                        <Paginator State="paginationRoleTypeState" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 d-flex flex-fill mt-5">
            <div class="card border-0 shadow-sm mx-auto flex-fill">
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>

<DeleteModal Title="@Title" IsVisible="@isModalVisible" ActionType="@ActionType" OnClose="HandleModalClose" />
<MealPlanAddModal IsVisible="@isAddMealPlanModalVisible" OnClose="HandleAddMealPlanModalClose" />
<ReservationStatusAddModal IsVisible="@isAddReservationStatusModalVisible" OnClose="HandleAddReservationStatusModalClose" />
<RoomTypeAddModal IsVisible="@isAddRoomTypeModalVisible" OnClose="HandleAddRoomTypeModalClose" />
<RoomStatusAddModal IsVisible="@isAddRoomStatusModalVisible" OnClose="HandleAddRoomStatusModalClose" />
<UserRoleAddModal IsVisible="@isAddRoleModalVisible" OnClose="HandleAddRoleModalClose" />

@code {
    private PaginationState paginationState = new() { ItemsPerPage = 3 };
    private PaginationState paginationRoomTypeState = new() { ItemsPerPage = 3 };
    private PaginationState paginationRoomStatusState = new() { ItemsPerPage = 3 };
    private PaginationState paginationReservationStatusState = new() { ItemsPerPage = 3 };
    private PaginationState paginationRoleTypeState = new() { ItemsPerPage = 3 };

    //modal for delete
    private bool isModalVisible;
    private string Title;
    private string modalMessage;
    private string ActionType;

    //modal for add
    private bool isAddMealPlanModalVisible = false;
    private bool isAddRoomTypeModalVisible = false;
    private bool isAddReservationStatusModalVisible = false;
    private bool isAddRoomStatusModalVisible = false;
    private bool isAddRoleModalVisible = false;



    private List<MealPlan> MealPlans = new();
    private int? editMealPlanId;
    private int? deleteMealPlanId;

    private List<RoomType> RoomTypes = new List<RoomType>();
    private int? editRoomTypeId;
    private int? deleteRoomTypeId;


    private List<RoomStatus> RoomStatuses = new List<RoomStatus>();
    private int? editRoomStatusId;
    private int? deleteRoomStatusId;

    private List<ReservationStatus> ReservationStatuses = new List<ReservationStatus>();
    private int? editReservationStatusId;
    private int? deleteReservationStatusId;

    private List<IdentityRole> Roles = new List<IdentityRole>();
    private string? editRoleId;
    private string? deleteRoleId;


    //Add modals
    private void OpenAddMealPlanModal()
    {
        isAddMealPlanModalVisible = true;
    }

    private async Task HandleAddMealPlanModalClose(bool result)
    {
        isAddMealPlanModalVisible = false;
        if (result)
        {
            MealPlans = await ReservationService.GetMealPlansAsync();
        }
    }

    private void OpenAddReservationStatusModal()
    {
        isAddReservationStatusModalVisible = true;
    }

    private async Task HandleAddReservationStatusModalClose(bool result)
    {
        isAddReservationStatusModalVisible = false;
        if (result)
        {
            ReservationStatuses = await ReservationService.GetReservationStatusesAsync();
        }
    }

    private void OpenAddRoomTypeModal()
    {
        isAddRoomTypeModalVisible = true;
    }


    private async Task HandleAddRoomTypeModalClose(bool result)
    {
        isAddRoomTypeModalVisible = false;
        if (result)
        {
            RoomTypes = await RoomService.GetRoomTypesAsync();
        }
    }

    private void OpenAddRoomStatusModal()
    {
        isAddRoomStatusModalVisible = true;
    }

    private async Task HandleAddRoomStatusModalClose(bool result)
    {
        isAddRoomStatusModalVisible = false;
        if (result)
        {
            RoomStatuses = await RoomService.GetRoomStatusesAsync();
        }
    }


    private void OpenAddRoleModal()
    {
        isAddRoleModalVisible = true;
    }

    private async Task HandleAddRoleModalClose(bool result)
    {
        isAddRoleModalVisible = false;
        if (result)
        {
            Roles = await AccountService.GetAllRolesAsync();
        }
    }






    private void EditRole(string roleId)
    {
        editRoleId = roleId;
    }

    private void EditReservationStatus(int reservationStatusId)
    {
        editReservationStatusId = reservationStatusId;
    }

    private void EditRoomType(int roomTypeId)
    {
        editRoomTypeId = roomTypeId;
    }

    private void EditRoomStatus(int roomStatusId)
    {
        editRoomStatusId = roomStatusId;
    }


    private void EditMealPlan(int mealPlanId)
    {
        editMealPlanId = mealPlanId;

    }

    private void CancelEdit()
    {
        editRoomTypeId = null;
        editMealPlanId = null;
        editRoomStatusId = null;
        editReservationStatusId = null;
        editRoleId = null;
    }

    private async Task SaveMealPlan(MealPlan mealPlan)
    {
        try
        {
            await ReservationService.UpdateMealPlanAsync(mealPlan);
            editMealPlanId = null;

        }
        catch (Exception ex)
        {
        }
    }

    private async Task SaveRole(IdentityRole role)
    {
        try { 
            await AccountService.UpdateRoleAsync(role);
            editRoleId = null;
        }
        catch (Exception ex)
        {
        }
    }

    private async Task SaveRStatus(ReservationStatus reservationStatus)
    {
        await ReservationService.UpdateReservationStatusAsync(reservationStatus);
        editReservationStatusId = null;
        ReservationStatuses = await ReservationService.GetReservationStatusesAsync();
    }

    private async Task SaveRoomType(RoomType roomType)
    {
        await RoomService.UpdateRoomTypeAsync(roomType);
        editRoomTypeId = null;
        RoomTypes = await RoomService.GetRoomTypesAsync();
    }

    private async Task SaveRoomStatus(RoomStatus roomStatus)
    {
        await RoomService.UpdateRoomStatusBySettingsAsync(roomStatus);
        editRoomStatusId = null;
        RoomStatuses = await RoomService.GetRoomStatusesAsync();
    }

    private void OpenDeleteRoleConfirmation(string roleId)
    {
        isModalVisible = true;
        Title = "Smazání role";
        modalMessage = "Opravdu chcete smazat tuto roli?";
        ActionType = "DeleteRole";
        deleteRoleId = roleId;
    }

    private void OpenDeleteRoomStatusConfirmation(int roomStatusId)
    {
        isModalVisible = true;
        Title = "Smazání statusu pokoje";
        modalMessage = "Opravdu chcete smazat tento status pokoje?";
        ActionType = "DeleteRoomStatus";
        deleteRoomStatusId = roomStatusId;
    }

    private void OpenDeleteRoomTypeConfirmation(int roomTypeId)
    {
        isModalVisible = true;
        Title = "Smazání typu pokoje";
        modalMessage = "Opravdu chcete smazat tento typ pokoje?";
        ActionType = "DeleteRoomType";
        deleteRoomTypeId = roomTypeId;
    }

    private void OpenDeleteReservationStatusConfirmation(int reservationStatusId)
    {
        isModalVisible = true;
        Title = "Smazání statusu rezervace";
        modalMessage = "Opravdu chcete smazat tento status rezervace?";
        ActionType = "DeleteReservationStatus";
        deleteReservationStatusId = reservationStatusId;
    }

    private void OpenDeleteMealPlanConfirmation(int mealPlanId)
    {
        isModalVisible = true;
        Title = "Smazání jídelního plánu";
        modalMessage = "Opravdu chcete smazat tento jídelní plán?";
        ActionType = "DeleteMealPlan";
        deleteMealPlanId = mealPlanId;
    }

    private async Task HandleModalClose(bool confirmed)
    {
        isModalVisible = false;
        if (confirmed)
        {
            switch (ActionType)
            {
                case "DeleteRole":
                    try
                    {
                        await AccountService.DeleteRoleAsync(deleteRoleId);
                        Roles = await AccountService.GetAllRolesAsync();
                    }
                    catch (Exception ex)
                    {
                    }
                    break;
                case "DeleteMealPlan":
                    try
                    {
                        await ReservationService.DeleteMealPlanAsync(deleteMealPlanId.Value);
                        MealPlans = await ReservationService.GetMealPlansAsync();
                    }
                    catch (Exception ex)
                    {
                    }
                    break;
                case "DeleteRoomType":
                    try
                    {
                        await RoomService.DeleteRoomTypeAsync(deleteRoomTypeId.Value);
                        RoomTypes = await RoomService.GetRoomTypesAsync();
                    }
                    catch (Exception ex)
                    {
                    }
                    break;
                case "DeleteRoomStatus":
                    try
                    {
                        await RoomService.DeleteRoomStatusAsync(deleteRoomStatusId.Value);
                        RoomStatuses = await RoomService.GetRoomStatusesAsync();
                    }
                    catch (Exception ex)
                    {

                    }
                    break;
                case "DeleteReservationStatus":
                    try
                    {
                        await ReservationService.DeleteReservationStatusAsync(deleteReservationStatusId.Value);
                        ReservationStatuses = await ReservationService.GetReservationStatusesAsync();
                    }
                    catch (Exception ex)
                    {
                    }
                break;
            }
        }
    }


    protected override async Task OnInitializedAsync()
    {
        MealPlans = await ReservationService.GetMealPlansAsync();
        ReservationStatuses = await ReservationService.GetReservationStatusesAsync();
        RoomTypes = await RoomService.GetRoomTypesAsync();
        RoomStatuses = await RoomService.GetRoomStatusesAsync();
        Roles = await AccountService.GetAllRolesAsync();



    }
}
